$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);

$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
}
header {
  .bg-img {
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  .head-flex {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
  }

  .head-right {
    ul {
      list-style: none;

      li {
        display: inline;
        padding-left: 30px;

        a {
          text-decoration: none;
          color: $DarkViolet;
          font-weight: bold;
          color: $DarkGrayishViolet;
        }

        .head-cta {
          border: 2px solid $DarkViolet;
          padding: 10px 30px;
        }

        .head-cta:hover {
          background: rgba($color: #000000, $alpha: 0.9);
          color: $VeryLightGray;
        }
      }

      li a:hover {
        color: $VeryDarkViolet;
      }
    }
  }

  .hero {
    letter-spacing: 1.75;
    background-color: $DarkViolet;
    background-image: url(/images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    .hero-flex {
      position: relative;
      display: flex;

      .hero-left {
        padding: 90px 0;
        width: 50%;
        h1 {
          padding-top: 30px;
          font-size: 60px;
          font-family: "DM Serif Display", serif;
          color: $VeryLightGray;
          letter-spacing: 3px;
        }

        p {
          color: $GrayishBlue;
          padding: 20px 0;
          line-height: 1.5;
        }

        .cta-btn {
          padding: 10px 30px;
          background-color: transparent;
          border: 2px solid $VeryLightGray;
          color: $VeryLightGray;
          letter-spacing: 1.5;
          z-index: 99;
          text-transform: uppercase;
        }

        .cta-btn:hover {
          background-color: black;
        }
      }

      .hero-right {
        img {
          position: absolute;
          top: 50px;
          right: 0;
          width: 40%;
          max-width: 450px;
        }
      }
    }
  }
}

hr {
  width: 150px;
}

.about-us {
  padding: 120px 0;

  .heading {
    font-size: 36px;
    font-family: "DM Serif Display", serif;
    letter-spacing: 3px;
    color: $DarkViolet;
  }

  .about-flex {
    display: flex;
    padding: 30px 0;

    .about-box {
      padding: 15px;
      &:nth-of-type(1) {
        padding-left: 0;
      }
      &:nth-last-child() {
        padding-right: 0;
      }
      img {
        width: 60px;
        padding: 10px 0;
      }
      h4 {
        font-family: "DM Serif Display", serif;
        letter-spacing: 1px;
        padding: 5px 0;
        color: $DarkViolet;
      }
      p {
        color: $DarkGrayishViolet;
      }
    }
  }

  .cta-box {
    background-color: $DarkViolet;

    background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding: 60px;
    color: $VeryLightGray;
    margin: 60px 0 0px 0;

    .cta-flex {
      display: flex;
      justify-content: space-between;
    }

    .cta-text {
      font-family: "DM Serif Display", serif;
      letter-spacing: 2px;
      max-width: 400px;
      font-size: 32px;
    }

    .cta-box-btn {
      padding: 10px 20px;
      letter-spacing: 1px;
      font-family: "DM Serif Display", serif;
      font-size: 14px;
      margin: 15px 0;
      background-color: transparent;
      color: $VeryLightGray;
      border: 2px solid $VeryLightGray;
    }

    .cta-box-btn:hover {
      background-color: $VeryLightGray;
      color: $VeryDarkViolet;
      opacity: 100;
      z-index: 100;
    }
  }
}

footer {
  background-color: rgba(#ddd, 0.1);
  background-image: url(/images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  padding: 60px 0;
  .footer-top {
    border-bottom: 1px solid $DarkViolet;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;

    ul {
      list-style: none;

      li {
        display: inline;
        padding-left: 15px;
        font-size: 22px;
        color: $GrayishBlue;
      }
    }
  }

  .footer-bottom {
    .footer-flex {
      display: flex;
      justify-content: space-between;

      .footer-box {
        padding: 30px 0;
        .heading {
          font-size: 14px;
          padding: 10px 0;
          text-transform: uppercase;
          color: $GrayishBlue;
        }

        ul {
          list-style: none;

          li {
            padding: 5px 0;
            color: $DarkViolet;

            a {
              text-decoration: none;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.hamburger {
  display: none;
}

.show {
  display: block;
}

@media only screen and (max-width: 600px) {
  header .hero .hero-flex .hero-left h1 {
    font-size: 36px;
    padding-top: 0;
  }
  .hamburger {
    display: block;
  }
  nav {
    display: none;
    width: 100%;

    ul li {
      width: 100%;
      display: block !important;
      padding: 15px 0 !important;
    }
  }

  header .hero .hero-flex {
    flex-direction: column-reverse;
  }
  header .hero .hero-flex .hero-left {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  header .hero .hero-flex .hero-right img {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 600px;
    // max-width: 450px;
  }
  .res-full-width {
    width: 100%;
  }

  .about-us .about-flex {
    flex-direction: column;
    text-align: center;
  }
  .heading {
    text-align: center;
    font-size: 26px;
  }

  .about-us .cta-box .cta-flex {
    flex-direction: column;
    text-align: center;
  }

  footer .footer-top {
    flex-direction: column;
    text-align: center;

    img {
      width: 150px;
      margin: 0 auto;
    }

    ul {
      padding-top: 20px;
    }

    ul li {
      padding: 30px 10px;
    }
  }

  footer .footer-bottom .footer-flex {
    flex-direction: column;
    text-align: center;

    .footer-box {
      padding: 15px 0;
    }

    .heading {
      margin: 15px;
    }

    ul li {
      padding: 10px 0;
    }
  }

  hr {
    display: none;
  }
}
